# This is Git's per-user configuration file.
[core]
# Please adapt and uncomment the following lines:
	user = "Gabriel Godoy"
        email = "ggodoyliveira@gmail.com"
        safecrlf = false
        editor = /usr/bin/vim
[user]
	name = Gabriel Godoy
        email = ggodoyoliveira@gmail.com
[alias]
	s = status
	ac = !git add -A && git commit
	ch = checkout
	c = commit
	a = add
	ps = push
	pl = pull
	cl = clone
        st = stash
        l = log --stat --abbrev-commit --decorate
[push]
	default = simple
