init.author.name=Gabriel
init.author.email=ggodoyoliveira@gmail.com
init.author.url=http://www.gabrielgodoy.com
//registry.npmjs.org/:_authToken=af646752-73f6-4283-841e-c8ada07a459c
init-license=MIT
save-exact=true
